* {
    margin: 0;
    padding: 0;
}

.top-container {
    background: linear-gradient(135deg, #0c0c0d, #363636);
    color: #ffffffee;
}

.column {
    text-align: center;
}

p {
    margin: 0;
}

footer {
    background: linear-gradient(135deg, #0c0c0d, #363636);
    color: #f0f0f0;
    overflow: hidden;
}

footer a {
    color: rgb(0, 149, 255);
}

@media (max-width: 576px) {
    img.image {
        max-width: 40% !important;
    }
    .top-container {
        padding-top: 3em !important;
        padding-bottom: 3em !important;
    }
    .image-container {
        padding-top: 3em !important;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    img.image {
        max-width: 20% !important;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    img.image {
        max-width: 15% !important;
    }
}